{% extends "../base.html.twig" %}

{% block base_second_nav_li %}
    <li class="active"><a href="#section1">Dashboard</a></li>
    <li><a href="#section2">Statistique</a></li>
    <li><a href="#section3">Bilan</a></li>
    <li><a href="#section3">About</a></li>
{% endblock %}

{% block base_content %}
<div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Integer sed tortor vitae orci eleifend faucibus eget eu metus. Nunc quis hendrerit odio. Pellentesque quis mauris lacinia, dignissim odio sed, imperdiet nisl. Sed molestie risus non risus condimentum, in rhoncus dolor feugiat. Sed semper imperdiet erat, sed consectetur urna laoreet vel. Phasellus volutpat diam quis condimentum finibus. Cras euismod sodales commodo. Fusce et turpis ac felis tincidunt luctus. In sit amet purus eget nibh suscipit luctus. Pellentesque ante ipsum, finibus ut gravida id, tristique in urna. </p>
      <p>Sed nec est lorem. Aliquam non pellentesque ex. Vivamus et mi iaculis, elementum urna in, placerat turpis. Vivamus tincidunt consectetur ligula, a cursus dolor. Duis semper a sapien a dictum. Maecenas condimentum odio ac volutpat aliquam. Nunc in mauris et dui luctus suscipit sagittis non est. Nulla turpis tellus, consectetur eu elit eu, rutrum luctus mi. Praesent tincidunt sapien ut mi sollicitudin consectetur. Nulla sagittis risus risus, ut tempus dui viverra nec. Curabitur a semper est. Fusce posuere, tortor sit amet tempus feugiat, massa eros hendrerit ipsum, ac eleifend libero odio eu risus. Duis vulputate est arcu, a vulputate eros tempor eu. Sed eget tempor libero. Praesent cursus posuere quam at fringilla. Aliquam quam nibh, tempus a pellentesque ut, imperdiet vitae lorem. </p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet ullamcorper vestibulum. Sed venenatis eros mauris, non lobortis mi aliquam a. Integer id ligula sed turpis pulvinar placerat tincidunt non neque. Sed bibendum orci dignissim purus tincidunt dignissim. Mauris dapibus, nisl eu sodales sodales, eros urna molestie tortor, id porttitor augue magna at est. Nulla neque elit, placerat sed porttitor eu, consectetur at lectus. Nullam varius, ante eu condimentum finibus, ipsum metus pretium nisi, at dignissim urna lorem sed nibh. Proin viverra sapien justo, viverra lobortis urna tempor in. Sed varius at justo eget volutpat. Vestibulum nec magna ultrices, facilisis metus faucibus, accumsan risus. Pellentesque in arcu ac libero lobortis condimentum feugiat id odio. Aenean id rutrum justo. Maecenas lectus arcu, pulvinar sed ante eget, vestibulum tempus sapien. </p>
      <p>Duis a feugiat erat, eget lobortis orci. Integer at molestie elit, non dignissim sapien. Suspendisse vehicula mi lorem, ut tempor neque elementum et. Proin a tortor tortor. Nulla laoreet urna a luctus consectetur. Curabitur ac magna et ex molestie rutrum. Sed vitae massa hendrerit, elementum tortor at, bibendum lacus. Donec pulvinar vulputate velit in volutpat. Mauris sit amet arcu id dolor imperdiet blandit non at leo. Praesent congue venenatis commodo. Sed sollicitudin ipsum eget felis imperdiet volutpat. Aenean sit amet sem libero. Vestibulum vestibulum quam sit amet vestibulum viverra. Suspendisse potenti. </p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet ullamcorper vestibulum. Sed venenatis eros mauris, non lobortis mi aliquam a. Integer id ligula sed turpis pulvinar placerat tincidunt non neque. Sed bibendum orci dignissim purus tincidunt dignissim. Mauris dapibus, nisl eu sodales sodales, eros urna molestie tortor, id porttitor augue magna at est. Nulla neque elit, placerat sed porttitor eu, consectetur at lectus. Nullam varius, ante eu condimentum finibus, ipsum metus pretium nisi, at dignissim urna lorem sed nibh. Proin viverra sapien justo, viverra lobortis urna tempor in. Sed varius at justo eget volutpat. Vestibulum nec magna ultrices, facilisis metus faucibus, accumsan risus. Pellentesque in arcu ac libero lobortis condimentum feugiat id odio. Aenean id rutrum justo. Maecenas lectus arcu, pulvinar sed ante eget, vestibulum tempus sapien. </p>
    </div>
  </div>
{% endblock %}